* {
    box-sizing: border-box;
}

.mainPresent {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    border: 3px solid rgb(141, 141, 141);
    border-top: 6px solid rgb(141, 141, 141);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px 9px;
    overflow: hidden;
}

.mainAboutInfor {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;

}

.mainAboutInfor p {
    color: var(--greenColor);
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.mainAboutInfor h2 {
    color: rgb(56, 56, 56);
    font-size: 2.5rem;
    margin: 0;
}

.mainAboutInfor button {
    max-width: 250px;

    padding: 9px 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 15px;
    background-color: var(--greenColor);
    border: none;
    color: white;

    font-weight: bold;
    white-space: nowrap;
}

.aboutBox {
    margin: 0;

    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    padding: 42px 30px;
    width: 100%;
    height: 60vh;
}

.aboutBox img {
    height: 100%;
    width: auto;
    border-radius: 21px;
    margin: 0;
    box-shadow: 0 0 9px 6px rgba(0, 0, 0, 0.6);

}