#page-header {
    width: 100%;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95baff52;
    padding: 24px;
    position: sticky;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    backdrop-filter: blur(6px);
    box-shadow: 0 1.5px 9px rgba(0, 0, 0, 0.3);
}

#avatar-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    border: 4.5px solid #2853FF;
    z-index: 21;

}


#avatar-box:hover {
    border-color: var(--higher-light-color);
    box-shadow: 0 0 9px var(--high-light-color), 0 0 45px var(--out-grow);
    /* box-shadow: 0 0 9px var(--high-light-color), 0 0 45px var(--out-grow); */
}

#avatar-box img {
    object-fit: contain;
    height: 100%;
    aspect-ratio: 1/1;
    transition: .3s;
}

#avatar-box:hover img {
    filter: brightness(1.2) saturate(.9);

}

#sign-block-box {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    /* position: relative; */
    align-items: center;
    
}



#sign-block-box a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4D6FF4;
}

#sign-block-box a:hover {
    color: var(--high-light-color);
    filter: drop-shadow(0 0 3px var(--out-grow));
}

#divider {
    width: 2px;
    background-color: #4D6FF4;
    height: 100%;
    margin: 0;
    height: 1.2em;
}

/* #sign-block-box::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #4D6FF4;
    left: 50%;
    transform: translateX(-50%) !important;
} */

#page-name {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.8rem;
    transform: translateY(12px);
    color: #1C3289;
}

#page-name:hover {
    color: var(--high-light-color);
    filter: drop-shadow(0 0 3px var(--out-grow));
}

#user-info-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 6px;

    padding: 18px 18px;
    padding-bottom: 30px;
    border: 6px solid #2ea8ff;
    border-radius: 30px;
    box-shadow: 0 0px 15px rgba(0, 0, 0);
    display: none;
    background-color: white;
}

#user-box {
    position: relative;
    transform: translatey(18px);
    z-index: 20;
}

#user-box:hover #user-info-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 9px;
}

#user-info-box img {
    height: 100%;
    transform: translateX(-32%);
}

#user-info-box div {
    height: 300px;
    aspect-ratio: 1/1;
    margin-bottom: 9px;
    overflow: hidden;
    border-radius: 9px;
}

#user-info-box strong {
    font-size: x-large;
    align-self: center;
    color: gold;
    filter: drop-shadow(0 0 9px rgb(255, 251, 0)) drop-shadow(0 0 15px rgba(255, 251, 0, 0.3));
    ;
}

#user-info-box b {
    align-self: flex-start;
}

#user-info-box span {
    align-self: flex-start;
}