@media (max-width:1500px) {
    html {
        font-size: 15px;
    }
    #case4-grid{
        width: 100%;
    }
    .colum-div{
        width: 40%;
    }
    .img-holder{
        align-self: center;
    }
}

@media (max-width:1024px) {
    html {
        font-size: 12px;
    }
}

@media (max-width:768px) {
    html {
        font-size: 9px;
    }
}

@media (max-width:480px) {
    html {
        font-size: 6px;
    }
}