#skill-space {
    width: 70%;
    /* height: 1200px; */
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    padding-left: 12px;
    padding-right: 12px;
    /* border: 1px solid black; */
}

#skill-space strong {
    margin-top: 15px;
    font-size: 1.5rem;
}

#skill-space b {
    margin-top: 15px;
    font-size: 2rem;
    color: var(--grayTxt-color);
}

#skill-space span {
    color: var(--grayTxt-color);
    font-weight: bold;
    font-size: 1.2rem;
}

#skill-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px 30px;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    margin-top: 60px;
}

.skill-wrapper {
    /* border: 1px solid black; */

    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.skill-wrapper img {
    width: 90px;
}

.skill-wrapper p {
    font-size: 36px;
    font-weight: bold;
}

#skill-deverloping-box {
    width: 100%;
    height: 260px;
    background-color: white;
    margin-top: 90px;
    /* border: 1px solid black; */
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    gap: 9px;
    z-index: -1;
}

#skill-deverloping-box img {
    width: 160px;
    filter: drop-shadow(0 0 3px #fc49ff) drop-shadow(0 0 9px #fc49ffa9) drop-shadow(0 0 15px #fc49ff5d);
}

#skill-deverloping-box strong {
    font-size: 2.7rem !important;
    color: black !important;
    background-color: white;
    z-index: 1;
}